$black: #000000;
$blackTransparent: #00000080;
$white: #ffffff;
$yellow: #E8AA31;

$blackBgHeader1: #141414;
$whiteBgHeader1: #ECF1F2;
$blackLogo: #1F1C21;
$whiteSearch: #07070708;
$borderSearch: #04040480;
$favorite: #333333;