$mainBlack: #000000;
$secondBlack: #141414;
$thirdBlack: #1F1C21;

$mainWhite: #ffffff;
$secondWhite: #ECF1F2;

$searchBg: #07070708;
$borderSearch: #04040480;
$buttonSearch: #00000080;

$orangeMain: #E8AA31;