footer {
  // background-color: chocolate;
  background-color: gray;
  background-image: url('../img/footer/ksnip_20230816-145026.png');
  p {
    text-decoration: underline;
    text-align: center;
    @media (max-width: 768px) {
      text-align: right;
    }
  }
}