.header {
  &__top {}
}
// ======[top-header]======
.top-header {
  background-color: $blackTopHeader;

  &__container {
    display: flex;
    align-items: center;
    min-height: toRem(70);
    padding-top: 5px;
    padding-bottom: 5px;
    color: $white;
  }

  &__menu {
    flex: 1 1 auto;
  }
  &__account {}
}
.menu-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 60px;
  @include responsive("column-gap", 60, 15, $widthContainer, $widthTablet);
  &__item {}
  &__link {
    font-size: toRem(16);
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}
.header-account {
  display: flex;
  align-items: center;
  &__icon {
    font-size: toRem(27.6);
    margin: 15px;
  }
  &__text {
    font-size: toRem(18);
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}