header {
  // background-color: burlywood;
  background-color: gray;
  background-image: url('../img/header/ksnip_20230816-144902.png');
  p {
    text-decoration: overline;
    text-align: center;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
}